<% provide :title, t(".title") %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1><%= t ".header" %></h1>
    </div>
    <p>
      <%= t ".contain1" %> <em><%= link_to t(".contain2"), "http://www.railstutorial.org/" %></em> <%= t ".contain3" %>
      <%= link_to t(".book"), "http://www.railstutorial.org/book" %> <%= t ".contain4" %>
      <%= link_to t(".screencast"), "http://screencasts.railstutorial.org/" %>
      <%= t ".contain5" %>
      <%= link_to t(".contain6"), "http://rubyonrails.org/" %>.
      <%= t ".contain7" %>
    </p>
  </div>
</div>
