<% provide :title, t(".title") %>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1><%= t ".header" %></h1>
    </div>
    <p>
      <%= t ".contain1" %>
      <%= link_to t(".contain2"), "http://www.railstutorial.org/help" %>.
      <%= t ".contain3" %>
      <em><%= link_to t(".contain4"), "https://education.framgia.vn/courses/257" %></em>.
    </p>
  </div>
</div>
