<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<% if is_manager_admin? current_user %>
<div>
  <%= render "shared/search_form" %>
</div>
<% end %>
<%= will_paginate %>
<ul class="users">
  <%= render partial: "shared/user", collection: @users %>
</ul>
<%= will_paginate %>
