<li>
  <%= gravatar_for user, size: Settings.index_ava_size %>
  <%= link_to user.name, user %>
  <% if is_admin_not_current? user %>
  | <%= link_to t("delete"), user, method: :delete,
  data: { confirm: t("you_sure") } %>
    <% if user.manager? %>
    | <%= link_to t("switch_div_manager"), edit_division_user_path(user), method: :get,
  data: { confirm: t("you_sure") } %>
    | <%= link_to t("demote_manager"), demote_user_path(user), method: :patch,
  data: { confirm: t("you_sure") } %>
    <% elsif user.user? %>
    | <%= link_to t("promote_user"), promote_user_path(user), method: :patch,
  data: { confirm: t("you_sure") } %>
    <% end %>
  <% end %>
  <% if current_user.manager? %>
    <% unless user.in_division_of? current_user.division_id %>
    | <%= link_to t("switch_div_user"), switch_division_user_path(user), method: :patch,
  data: { confirm: t("you_sure") } %>
    <% end %>
  <% end %>
</li>
