<footer class="footer">
  <small>
    <%= t ".a" %>
    <%= link_to t(".project"), "https://education.framgia.vn/courses/257/" %>
    <%= t ".contain1" %>
    <%= link_to t(".framgia"), "http://recruit.framgia.vn/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".new"), "http://recruit.framgia.vn/" %></li>
    </ul>
  </nav>
</footer>
